
.button{
  display: block;
  width: 51px;
  height: 51px;
  border-radius: 50%;
  background-color: #262E38;
}

.button:hover{
  background-color: #FC7614;
}
.butdiv{
  display: flex;
  width: 343px;
  justify-content: space-between;
  margin-left: 32px;
  margin-top: 24px;
}
#backColor{
  background-color: rgb(161, 161, 161);
}
